
@media screen and (max-width: 991px) {

	
	section.dashboard-block {
	    min-height: 95%;
	}	
	
}

@media (min-width: 768px) {

	.modal-content {
	    text-align: center;
	}	
	.modal-dialog {
	    width: 255px;
	    margin: 30px auto;
	}
	.modal-footer {
	    text-align: center;
	    padding: 15px;
	    border-top: 1px solid transparent;
	}
}

@media screen and (min-width: 414px) and (max-width: 991px) {



	::-webkit-scrollbar {
	      width: 2px;
	}

	::-webkit-scrollbar-thumb {
	      background-color: rgba(0, 0, 0, 0.2); 
	}
	
	
}


@media screen and (max-width: 767px) {




}

@media screen and (max-width: 301px){



}